{% extends 'base.html' %}
{% block title %} MENU {% endblock %}
{% block content %}
<div class="header">
    <h1>this is Today's Menu</h1>
</div>

<div class="d-flex">
    <div class="bg-success text-white">
        {% for item in menuItems %}
        <h2>
            {% if item.state == True %}
            {{item.name}}
            <span>{{item.price}}$</span>
            <span>{{item.detail}}</span>
            {% endif %}
        </h2>
        {% endfor %}
    </div>
    <div class="p-3 mb-2 bg-danger text-white">
        {% for item in menuItems %}
        <h2>
            {% if item.state != True %}
            {{item.name}}
            <span>{{item.price}}$</span>
            <span>{{item.detail}}</span>
            {% endif %}
        </h2>
        {% endfor %}
    </div>
</div>
{% endblock %}